<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@2.7.0/dist/vue.js"></script>
    <link href="styles.css" rel="stylesheet">
    <title>TuitionLabs</title>
</head>
<body class="bg-gray-200">
    <div id="webstore">
        <div v-if="checkout==true">
            <header>
                <div class="bg-slate-900 flex justify-center text-center">
                    <div class="flex items-center ml-14 mr-56">
                        <p class="font-bold text-white text-2xl">TuitionLabs</p>
                    </div>
                    <div class="flex flex-grow justify-center">
                        <input v-model="searchQuery" class="h-10 m-5 w-1/2 rounded-2xl text-center outline-none" placeholder="Type to search">
                    </div>
                    <div class="flex items-center mr-10">
                        <button v-on:click="checkout=false" class="bg-emerald-400 rounded-lg p-1 pl-5 pr-5 font-bold hover:bg-neutral-100 disabled:bg-red-500" :disabled="cart.length == 0">
                            Checkout
                        </button>
                    </div>
                </div>
            </header>
            <main class="flex flex-row">
                <div class="bg-slate-950 inline-flex flex-col text-white min-h-full">
                    <div class="bg-gray-800 text-center mt-10 mb-10 ml-5 mr-5 rounded-lg">
                        <p class="m-1 text-bold text-lg"> Filters </p>
                    </div>
                    <div class="ml-5 mr-32 text-bold text-base">
                        <label class="flex items-center mb-5 rounded-2xl">
                                <input v-model="currentFilter" type="radio" name="searchCriteria" value="subject" class="mr-2">
                                Subject
                        </label>
                        <label class="flex items-center mb-5">
                                <input v-model="currentFilter" type="radio" name="searchCriteria" value="location" class="mr-2">
                                Location
                        </label>
                        <label class="flex items-center mb-5">
                                <input v-model="currentFilter" type="radio" name="searchCriteria" value="price" class="mr-2">
                                Price
                        </label>
                        <label class="flex items-center mb-5">
                                <input v-model="currentFilter" type="radio" name="searchCriteria" value="spaces" class="mr-2">
                                Spaces
                        </label>
                    </div>
                    <div class="bg-gray-800 text-center mt-10 mb-10 ml-5 mr-5 rounded-lg">
                        <p class="m-1 text-bold text-lg"> Sort By </p>
                    </div>
                    <div class="ml-5 mr-32 text-bold text-base mb-64">
                        <label class="flex items-center mb-5 rounded-2xl">
                                <input v-model="currentSort" type="radio" name="sortBy" value="ascending" class="mr-2">
                                Ascending
                        </label>
                        <label class="flex items-center mb-5">
                                <input v-model="currentSort" type="radio" name="sortBy" value="descending" class="mr-2">
                                Descending
                        </label>
                    </div>
                </div>
                <div class="h-full w-full">
                    <div class="flex flex-row flex-wrap gap-10 justify-center">
                        <div v-for="lesson in lessons">
                            <div class="inline-flex text-center items-center justify-between bg-neutral-100 h-44 w-[448px] rounded-lg m-10 shadow-xl">                    
                                <img v-bind:src=`${server}/images/${lesson.topic}.png` class="h-20 w-20 ml-5">
                                <div class="flex flex-col items-start">
                                    <p class="font-bold text-xl">{{lesson.topic}}</p>
                                    <div class="flex flex-row gap-5 text-neutral-500">
                                        <p class="text-green-400">£{{lesson.price}}</p>
                                        <p>{{lesson.location}}</p>
                                        <p>{{lesson.space}} seats</p>
                                    </div>
                                </div>
                                
                                <button v-on:click="addItemToCart(lesson)" class="p-3 bg-emerald-300 rounded-full text-2xl font-bold h-10 w-10 flex items-center justify-center mr-5 hover:bg-emerald-400 disabled:bg-gray-500" :disabled="lesson.space <= 0">
                                        <p class="relative bottom-0.5">+</p>
                                </button>
                
                            </div> 
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div v-if="checkout==false">
            <main class="bg-slate-900 h-screen flex items-center justify-center">
                <div class="bg-white shadow-lg flex inline-flex text-center rounded-xl">
                    <div class="flex flex-col items-center w-2/3">
                        <div class="flex h-1/4 items-center justify-start w-full gap-1">
                            <button v-on:click="checkout=true" class="text-3xl mx-4">🡐</button>
                            <p class="font-extrabold text-3xl my-5">Order Summary</p>
                        </div>
                        <div class="my-5 mx-10">
                            <div class="flex gap-72 my-3 font-bold ">
                                <p>Items</p>
                                <p>Price(£)</p>
                            </div>
                            <div v-for="lesson in cart">
                                <div class="flex justify-between text-gray-600">
                                    <p>{{lesson.topic}}</p>  
                                    <p class="mr-4">{{lesson.price}}</p>
                                </div>
                            </div>
                            <div class="h-0.5 bg-black my-5"></div>
                            <div class="flex justify-between my-3 font-bold">
                                <p>Total</p>
                                <p class="mr-2">{{total}}</p>
                            </div>
                        </div>   
                    </div>
                    <div class="flex flex-col items-center bg-slate-950 rounded-tr-xl rounded-br-xl">
                        <p class="font-bold text-xl mt-10 text-white">Checkout Info</p>
                        <input class="text-center rounded-sm my-5 p-1 bg-slate-900" type="text" placeholder="Your Name">
                        <input class="text-center rounded-sm my-5 p-1 bg-slate-900" type="text" placeholder="Your Phone Number">
                        <button v-on:click="checkout=true" class="bg-green-400 text-white rounded-lg pl-4 pr-4 p-1 font-bold hover:bg-green-500 my-10 mx-24 w-1/2">Confirm Order</button>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script>
        let webstore = new Vue(
            {
                el:'#webstore',
                data:
                {
                    lessons: [],
                    server: 'http://localhost:3000',
                    currentFilter: "",
                    currentSort: "ascending",
                    searchQuery: "",
                    cart:[],
                    total:0,
                    checkout: false
                },
                methods:
                {
                    addItemToCart(lesson)
                    {
                        lesson.space -= 1;
                        this.total += lesson.price;
                        this.cart.push(lesson);
                    },
                    async fetchLessons()
                    {
                        let response = await fetch(`${this.server}/lessons`,
                            {
                                method: 'GET',
                                headers:
                                {
                                    'Content-Type': 'application/json'
                                }
                            }
                        );
                        this.lessons = await response.json();
                    },
                    filterLessons()
                    {
                        if(this.currentFilter === 'subject')
                        {
                            // (a, b) => a.topic.localeCompare(b.topic) is the comparison function used to sort the lessons
                            // a and b are 2 lessons being compared and localeCompare is a string comparison function 
                            this.lessons.sort((a, b) => a.topic.localeCompare(b.topic));
                        }
                        else if(this.currentFilter === 'location')
                        {
                            this.lessons.sort((a, b) => a.location.localeCompare(b.location));
                        }
                        else if(this.currentFilter === 'price')
                        {
                            this.lessons.sort((a, b) => a.price - b.price);
                        }
                        else if(this.currentFilter === 'spaces')
                        {
                            this.lessons.sort((a, b) => a.space - b.space);
                        }
                        if(this.currentSort === 'descending')
                        {
                            this.lessons.reverse();
                        }   
                    },
                    async fetchSearchedLessons()
                    {
                        let response = await fetch(`${this.server}/search?q=${this.searchQuery}`,
                            {
                                method: 'GET',
                                headers:
                                {
                                    'Content-Type': 'application/json'
                                }
                            }
                        );
                        if(response.status === 200)
                        {
                            this.lessons = await response.json();
                        }
                        else
                        {
                            this.lessons = [];
                        }
                    }
                }
                ,
                computed:
                {

                },
                watch:
                {
                    currentFilter()
                    {
                        this.filterLessons();
                    },
                    currentSort()
                    {
                        this.lessons.reverse();
                    },
                    searchQuery()
                    {
                        this.fetchSearchedLessons();
                    }
                },
                created()
                {
                    this.fetchLessons();
                }
            }
        )
    </script>
</body>
</html>